.footer_wrapper
  .footer
    %ul.footer__menu
      %li.footer__menu__twitter
        %span.title twitter：
        = link_to "@kenken04134" , "https://twitter.com/kenken04134"
      %li.footer__menu__blog
        %span.title BLOG ：
        = link_to "転ケン記録" , "https://kenken0413.hatenablog.com/"
      %li.footer__menu__github
        %span.title Github：
        = link_to "kenken0413" , "https://github.com/kenken0413"
