.header_wrapper
  .header
    %h1.title__main 転ケン記録
    .title__sub  - Welcome to my portfolio -
  %ul.menu
    %li.menu__item.home
      %a.link{ href: project_index_path} HOME
    %li.menu__item.about
      %a.link{ href: about_project_index_path} ABOUT ME
    %li.menu__item.work
      %a.link{ href: work_project_index_path} WORK
