.header_wrapper
  .header
    %h1.title__main 転ケン記録
    .title__sub  - 30歳元公務員がエンジニアになった記録といろいろ -
  %ul.menu
    %li.menu__item.home HOME
    %li.menu__item.about ABOUT ME
    %li.menu__item.work WORK