.about.active
  %h2　　色々な職を経験しています
  %text　住宅営業、アパレル倉庫整理、地方公務員（技術職）を経験してきました。学生時代にはゴルフショップや飲食店でアルバイトもしていました。多様な経験を活かしたいと思っています。
  %h2　　多趣味です
  %text　主な趣味はゴルフ（ベストスコア80,アペレージ90弱程度）、バイク、ピアノですが、ロードバイク、小説、漫画、キャンプなど興味があることは（時間とお金が足りる範囲で）やってみることにしています。
  %h2　　効率化が好きです
  %text　色々やっていると時間が全然足りません。効率よく作業できるよう常に考えています。
