= render 'header'

.body
  .menu-list.home.active
    %h2.top 元公務員・30歳
    %text.top 色々経験して、エンジニアになりました。

  -# .menu-list.about
  -#   %h2.about 様々な言語を習得しました
  -#   %text.about Haml・SCSS・Ruby・Ruby on Rails・JavaScript・jQuery・GitHub・AWS等の技術を用いた複合的機能の企画・実装を学習しました。特にフロント実装がコーディングしていて楽しいと感じたので、今までの学習内容をさらに研鑽しつつjavascriptライブラリについて知識を広げていきます。
  -#   %h2.about 様々な職業を経験しました
  -#   %text.about 正職員として住宅営業と地方公務員を経験、その他、アパレルショップ・ゴルフショップや飲食店でアルバイトを経験しました。現在は建築の施工管理や経理をしながら、フリーランスでエンジニア活動をしています。この多様な経験のなかで色々な考え方に触れ、とても知見を広げることができました。この得た経験を掛け合わせ、幅広い状況に対応できるようになったと感じています。
  -#   %h2.about 様々な趣味を持っています
  -#   %text.about 主な趣味はゴルフです。（ベストスコア80,アペレージ90弱程度。三重県の某ゴルフクラブのメンバー。得意クラブはウェッジ、苦手クラブはフェアウェイウッド。ここ１番の勝負所での集中力に自信があります。また、人のスイングを見てクラブフィッティングをしたりすることが好きです。） 他の趣味はバイク、ロードバイク、ピアノ、小説、漫画、キャンプなど興味があることは（時間と費用が足りる範囲で）挑戦することにしています。

  -# .menu-list.work
  -#   .work1
  -#     = link_to "mercari clone" , "http://13.113.238.148/" , class: "work-title" 
  -#     .work-detail
  -#       =image_tag "mercari_clone.png", size: '600x400' ,alt: "no image"
  -#       .work-detail__text
  -#         %text.work 概要）プログラミング教室の最終課題としてグループで開発。開発期間28日（作業時間 約7h／d）。
  -#         %text.work 担当）aws/s3の本番環境のデプロイ等・トップページ（haml/scss）・ 商品出品
  -#         %text.work 課題）出品時の画像複数投稿機能・バリデーションメッセージ など

= render 'footer'