h1{ font-size: 40px; }
h2{ font-size: 24px; }
a{
  color: white;
  text-decoration: none;
}

// header
.header_wrapper{
  background: rgba(25,25,112,0.8);
  min-width: 700px;
  text-align: center;
}

.header{
  width: 1000px;
  height: 70px;
  color: white;
  margin: 0 auto;
  padding: 30px 0 15px;
  // border-bottom: solid 1px;
  .title__sub{
    padding-top:15px;
  }
}

.menu{
  width: 1000px;
  margin: 10px auto;
  padding: 10px auto;
  display: inline-flex;
  &__item{
    height: 45px;
    width: 32%;
    line-height: 45px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
    background: rgba(231, 226, 226, 0.5);
    border-radius: 10px;
    cursor: pointer;
  }
  &__item:first-child{
    margin-left: 0;
  }
  &__item:last-child{
    margin-right: 0;
  }
}

// body
.body{
  background-image: url(background.jpg) ;
  background-size: cover;
  min-width: 1000px;
  height: calc(100vh - 320px);
  overflow: scroll;
}

.menu-list{
  display: none;
  width: 1000px;
  margin: auto;
  padding-top: 30px;
}
.menu-list.home{ padding-left: 80px; }
.active{ display: block; }

h2.top{
  padding-top: 80px;
}
text.top{
  display: block;
  padding-top: 50px;
}

h2.about{
  margin: 10px auto;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  background: gray;
  text-align: center;
  opacity: 0.7;
  color: white;
  line-height: 1.5;
}

text.about{
  font-size: 20px;
  padding: 10px;
  margin-bottom: 50px;
  display: block;
  border-radius: 10px;
  background: gray;
  opacity: 0.7;
  color: white;
}

.work-title{
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  background: gray;
  text-align: center;
  opacity: 0.7;
  color: white;
}

.work-detail{
  display: flex;
  width: 1000px;
  border-radius: 10px;
  background: gray;
  opacity: 0.7;
  margin: 10px auto;
  padding: 10px;
  line-height: 1.5;
  &__text{
    padding: 0 10px;
    .work{
      display: block;
      margin-bottom: 20px;
    }
  }
}


// footer
.footer_wrapper{
  background: rgba(25,25,112,0.8);
  min-width: 700px;
}

.footer{
  width: 1000px;
  height: 140px;
  color: white;
  margin: 0 auto;
  &__menu,li{ padding: 10px 0; }
  .title{ font-size: 20px; }
}


